/*body*/
body {
    background-color: rgb(227, 227, 227);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/*banner*/
header {
    width: 100%;
    background-color: white;
    height: 80px;
}

.logo {
    margin-left: 20px;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}

h1 {
    vertical-align: middle;
    line-height: 100%;
    display: inline-block;
    font-weight: 800;
}


/*main section*/
main {
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: white;
}


/*main section buttons*/
.selected-button {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 8px;
    background-color: #42aaf2;
    border: 1px solid #42aaf2;
    border-radius: 5px;

}

.unselected-button {
    font-size: 12px;
    font-weight: bold;
    color: lightgray;
    padding: 8px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;

}


/*main section elements*/
.sections {
    margin-top: 40px;
    margin-bottom: 0px;
}

.main-text {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
}

.checkmark {
    margin-top: 15px;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.unchecked {
    margin-top: 15px;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.argument {
    margin-left: 10px;
    margin-right: 10px;
}


/*argument box*/
.box {
    padding: 6px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    color: white;
}

.box.editorial {
    background-color: #43aae5;
}

.box.goals {
    background-color: #9d73e7;
}

.box.recruiting {
    background-color: #68c2aa;
}

.box.mobile {
    background-color: #f19e35;
}

.box.website {
    background-color: #d9669d;
}

.box.sales {
    background-color: #afc727;
}